body {
  background-color: #eee;
}

h2 {
  
}

input[type=text], 
input[type=password], input[type=email]{ 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
} 
/* set a style for all buttons*/ 
input[type=submit] {
  background-color: green; 
  color: white;
  padding: 14px 20px; 
  margin: 8px 0; 
  cursor: pointer; 
  width: 100%; 
}

.container a {
  width: 50%;
  background-color: powderblue;
  color: black;
  text-align: center;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.links {
  display: flex;
}

/*set styles for the cancel button*/ 
.cancelbtn {
  padding: 14px 20px; 
  background-color: #eee; 
} 
/*float cancel and signup buttons and add an equal width*/ 
.cancelbtn, 
.signupbtn {
  float: left; 
  width: 50% 
} 
/*add padding to container elements*/ 
.container {
  padding: 16px;
} 
/*define the modal’s background*/ 
  
/*  .modal { 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
} */
/*define the modal-content background*/

.modal-content {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0.5, 0.2, 0.4, 0.2);
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
} 
/*define the close button*/ 
  
.close {
  position: absolute; 
  right: 35px; 
  top: 15px; 
  color: #000; 
  font-size: 40px; 
  font-weight: bold; 
} 
/*define the close hover and focus effects*/ 
  
/*.close:hover, 
.close:focus { 
  color: red; 
  cursor: pointer; 
}*/
  
.clearfix::after { 
  content: ""; 
  clear: both; 
  display: table; 
}
    
@media screen and (max-width: 300px) { 
  .cancelbtn, 
  .signupbtn { 
    width: 100%; 
  }
} 